/* Write your CSS here */

.notification-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border: #e5e5e5 1px solid;
  margin-bottom: 20px;
  min-width: 400px;
  border-radius: 10px;
}

.icon-container {
  display: flex;
}

.icon {
  font-size: 30px;
  margin-top: 20px;
  margin-right: 40px;
}

.alert-details-container {
  max-width: 180px;
}

.main-heading-notification {
  font-size: 24px;
}

.description {
  font-size: 18px;
  color: #64748b;
  font-weight: 500;
}

.close-icon {
  font-size: 30px;
}

.success-color {
  color: #2dca73;
}

.error-color {
  color: #ff0b37;
}

.warning-color {
  color: #ffb800;
}

.info-color {
  color: #0f81e0;
}

@media (min-width: 768px) {
  .alert-details-container {
    max-width: 450px;
  }
  .notification-container {
    min-width: 700px;
  }

  .description {
    font-size: 20px;
  }
}
