/* Write your CSS here */

.app-container {
  max-width: 500px;
  font-family: roboto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.main-heading {
  font-size: 28px;
  text-align: center;
  color: #0f172a;
}

@media (min-width: 768px) {
  .app-container {
    max-width: 100vw;
    padding: 50px;
  }
  .main-heading {
    font-size: 45px;
  }
}
